kubeProxyReplacement: true
operator:
  replicas: 1
ingressController:
  enabled: true
  loadbalancerMode: dedicated
  hostNetwork:
    enabled: true
    nodes:
      matchLabels:
        ingresshost: "cilium"
envoy:
  enabled: true
  securityContext:
    capabilities:
      keepCapNetBindService: true
      envoy:
        - NET_ADMIN
        - BPF
        - NET_BIND_SERVICE
cilium-agent:
  securityContext:
    capabilities:
      add:
        - NET_ADMIN
        - BPF
        - NET_BIND_SERVICE
