configs:
  cm:
    kustomize.buildOptions: "--enable-helm"
    resource.customizations.health.argoproj.io_Application: |
      hs = {}
      hs.status = "Progressing"
      hs.message = ""
      if obj.status ~= nil then
        if obj.status.health ~= nil then
          hs.status = obj.status.health.status
          if obj.status.health.message ~= nil then
            hs.message = obj.status.health.message
          end
        end
      end
      return hs
    resource.customizations.health.networking.k8s.io_Ingress: |
      hs = {}
      hs.status = "Healthy"
      hs.message = "Probably just fine"
      return hs
global:
  domain: argocd.7f000001.nip.io
server:
  ingress:
    annotations:
      '"ingress.cilium.io/tls-passthrough"': "enabled"
      '"ingress.cilium.io/force-https"': "enabled"
      '"ingress.cilium.io/host-listener-port"': "443"
    enabled: true
    hostname: argocd.7f000001.nip.io
    ingressClassName: cilium
    tls: true
